<%= provide(:title, 'Category') %>
<div class="contact">
    <h1 class="text-center">List of categories</h1>
    <%= link_to "Create New Category", new_admin_category_path, class: "btn btn-primary" %>
    <div class="container">
        <ul class="categories">
            <% @categories.each do |category| %>
                <li>
                    <%= link_to category.title, admin_category_path(category) %>
                    <%= link_to 'Edit', edit_admin_category_path(category),  class: "btn btn-info" %>
                    <%= link_to 'Delete', admin_category_path(category), method: :delete, data: { confirm: "You sure?"},  class: "btn btn-danger" %>
                </li>
            <% end %>
            
        </ul>
    </div>
</div>